	@CHARSET "ISO-8859-1";

html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
	
body {	
	background-color: #E3E3E3;	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#back-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;	
	opacity: 0.2;	
}

#barContainer {
	margin: 0;
	padding: 0;
	height: 10%;
}

#titlebar {
	width: 100%;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 40px;
	color: #313131; 	
}

#titlebar div {
	float: left;	
	padding: 0 5px;
	color: #313131;
}

#titlebar a, #titlebar #userlabel {
	float: right;		
	text-decoration: none;	
	padding: 0 5px;
	color: #313131;
}

#titlebar a:hover, #titlebar a:active {
	background-color: white;		
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
	color: #313131;
}

#toolbar {			
	width: 100%;
	float: left;
	line-height: normal;
	padding-top: 10px;
}

#toolbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#toolbar ul li {
	float: left;	
	margin: 0;
	padding: 5px 10px;	
	position: relative;
}

#toolbar ul li a {
	display: block;
	text-decoration: none;
	font-family: Impact, Charcoal, sans-serif;
	color: #313131;
}

#toolbar ul li ul{
	position: absolute;
	left: 0;
	top: 30px;
	display: none;
}

#toolbar ul li ul li {
	width: 110px;
	position: relative;
}

#toolbar ul li ul li a {
	display: block;
	text-decoration: none;
	font-family: Impact, Charcoal, sans-serif;
	color: #313131;
}

#toolbar ul li ul li ul {
	position: absolute;
	left: 111px;
	top: 0;
	display: none;
}


 #toolbar ul li:hover {
	background-color: white;		
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
}

#toolbar ul li:hover ul {
	background-color: white;	
	display: block;
	z-index: 1000;		
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
} 

 #toolbar ul li ul li:hover ul {
	background-color: white;	
	display: block;
	z-index: 1000;
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
}

#editorContainer {	
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 90%;
	position: relative;
}

#editor {
	position: absolute;
	width: 75%;
	height: 75%;	
	top: 0;
	left: 0;
	opacity: 1;
	background-color: #FFFFFF;
}

#filePane {
	position: absolute;
	width: 24.8%;
	height: 74.8%;
	top: 0%;
	left: 75%;
    border: 1px solid #000000;			
}

#filePane ul {		
	list-style: none;
	margin: 0;
	padding: 0;	
	
	background-color: #E1E1E1;
	opacity: 0.8;
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;

}

#filePane ul li {
	display: block;
	z-index: 1000;	
    font-size: 20px;
    font-weight: bold;
    font-family: Impact, Charcoal, sans-serif;
	color: #313131;
} 

#filePane ul li a {		
	padding-left: 10px;	
	text-decoration: none;
	font-family: Impact, Charcoal, sans-serif;
	color: #313131;
} 

#fileListContainer {
	
	padding: 25px;
	/* border-style: solid; */

}

#consoleOutput {
	position: absolute;
	width: 75%;
	height: 25%;
	top: 75%;	
	left: 0;
}

#controlBox {
	position: absolute; 	
	width: 24.8%;
	height: 24.5%;
	top: 75%;	
	left: 75%;
    border: 1px solid #000000;	
}

#controlBox #controls {	
	margin: 0 auto;
}

#controlBox #applyButton {
	margin: 0 auto;			
}

.highlight {
    background-color: white;
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
}


.custom_style {
/* 	border-style: solid; */		
	/* border-color: transparent; */
	/* background-color: #3E97C9; */
	
	/* -moz-border-radius: 5px;
	border-radius: 5px; */
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
}


.button_e_style {
	border-style: solid;		
	border-color: transparent;
	background-color: #3E97C9;
	color: #F5F5F5;	
	font-family: Impact, Charcoal, sans-serif;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #878787;
	-webkit-box-shadow: 0 1px 5px #878787;
	box-shadow: 0 1px 5px #878787;
}


.button_e_style:hover {
	color: black;
	background-color: #D3EFFE;		
}

